<!DOCTYPE html>
<html>
<head>
	<title>Clubbo</title>
     <!--bootstrap-->
	 <link rel="stylesheet" href="../assets/lib/bootstrap.min.css" />
     <!-- font-awesome icon -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
     <!--main.css-->
     <link rel="stylesheet" type="text/css" href="../assets/css/singlePubView.css" />
     <!--google font-->
     <link href="https://fonts.googleapis.com/css?family=Damion" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Nunito:300" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Tajawal:700" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Assistant" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed" rel="stylesheet">
     </head>
<body>

<!--navbar-->	
 <header> 
  <nav class="navbar navbar-inverse no-margin  navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>    
    </div>
    <a class="navbar-brand" href="/landing">Clubbo</a>
    <div class="navbar-collapse collapse">
     <ul class="nav navbar-nav navbar-left">
        <li><a href="#">Discover <i class="fas fa-search"></i></a></li>
     </ul>
     <ul class="nav navbar-nav navbar-right">
      <% if(!currentUser){ %>        
           <li><a href="/createPub">Add a pub <i class="fa fa-plus-circle"></i></a></li>
           <li><a href="/login">Login <i class="fas fa-sign-in-alt"></i></a></li>
           <li><a href="/signup">Sign up <i class="fas fa-user-plus"></i></a></li>
        <% }else{ %>
           <li><a href="#">welcome <%=currentUser.name%> <i class="fas fa-sign-in-alt"></i></a></li>
           <li><a href="/createPub">Add a pub <i class="fa fa-plus-circle"></i></a></li>
           <li><a href="/logout">Logout <i class="fas fa-sign-in-alt"></i></a></li>
         <% } %> 
     </ul>
    </div>
  </nav>
 </header>

<!--landing slide-->
 <section  class="bbc">
     <% if(error && error.length>0){%> 
             <div class="container">
                  <div class="alert alert-danger" role="alert">
                      <%=error%>
                  </div> 
             </div>
    <% }%>
     <% if(success && success.length>0){%>
             <div class="container">
                  <div class="alert alert-success" role="alert">
                      <%=success%>
                  </div> 
             </div>
    <% }%>         
    <div id="map" class="ht500 headd">
    	<h1 class="highdef">Welcome to <%=pre.pub.pubName%></h1> 
    	<p class="hd">
    		From the moment you walk into <%=pre.pub.pubName%> club until you leave,we want your night to be the best of your life.
        </p>
    </div>         
 </section>

 <section>
 	<div class="row">
 		<div  class="col-md-7 col-sm-12 col-xs-12 ht900">
 			<div class="row">
 				<h1 class="pubnm"><%=pre.pub.pubName%></h1>
 				<p class="pubadd"><strong><%=pre.pub.address%></strong></p>
 					<img src="../assets/images/x.png" class="men">
 					<img src="../assets/images/y.jpg" class="men">
 					<p><span class="food">Food Menu</span><span class="bar">Bar Menu</span></p>
 			</div>
 			<hr>
 			<div class="htCond">
 				<div class="btn btn-info htCond">Book now</div>
 				<br><br> 
 			</div>
 			<div class="row sell">
 				<h3 class="fell lell">Overview</h3>
 				<div class="row cell">
 					<div class="col-md-3 col-sm-3 col-xs-3">
 						<h5><strong>Features and Amenities:</strong></h5>
 					</div>
 					<div class="col-md-3 col-sm-3 col-xs-3">
 						<p><%=pre.pub.fac1%></p>
 					</div>
 					<div class="col-md-3 col-sm-3 col-xs-3">
 						<p><%=pre.pub.fac2%></p>
 					</div>
 					<div class="col-md-3 col-sm-3 col-xs-3">
 						<p><%=pre.pub.fac3%></p>
 					</div>
 				</div>
 				<div class="row cell">
 					<div class="col-md-3 col-sm-3 col-xs-3">
 						
 					</div>
 					<div class="col-md-3 col-sm-3 col-xs-3">
 						<p><%=pre.pub.fac4%></p>
 					</div>
 					<div class="col-md-3 col-sm-3 col-xs-3">
 						<p><%=pre.pub.fac5%></p>
 					</div>
 					<div class="col-md-3 col-sm-3 col-xs-3">
 						<a>View all</a>
 					</div>
 				</div>
 				<div class="row cell">
 					<div class="col-md-3 col-sm-3 col-xs-3">
 						<h5><strong>About</strong></h5>
 					</div>
 					<div class="col-md-9 col-sm-9 col-xs-9">
 						<p><%=pre.pub.about%></p>
 					</div>
 				</div>
 				<div class="row cell">
 					<div class="col-md-3 col-sm-3 col-xs-3">
 						<h5><strong>Location</strong></h5>
 					</div>
 					<div class="col-md-6 col-sm-6 col-xs-6">
 						<p><%=pre.pub.address%></p>
 					</div>
 					<div class="col-md-3 col-sm-3 col-xs-3 ht40">
 						<a>View on maps</a>
 					</div>
 				</div>
 				<div class="row cell">
 					<div class="col-md-3 col-sm-3 col-xs-3">
 						<h5><strong>Contact</strong></h5>
 					</div>
 					<div class="col-md-9 col-sm-9 col-xs-9">
 						<p>+91-<%=pre.pub.pubContact%></p>
 					</div>
 				</div>
 				<hr>
 				<br>
 				 <div class="wt"></div>
                 <div class ="hell">
                 	<h3 class="kell lell">Fluids Lounge - Reviews and Ratings</h3>
                    <div class="text-right">
                        <a href = "/multi/<%=pre.pub.id%>/newComment" class="btn btn-success">Add a new comment</a>
                    </div>
                    <hr>
                   
                    <%pre.comment.forEach(comm =>{%>
                     <div class="row comm">
                     	  <div class="col-md-1 col-sm-1 col-xs-1 avatar"></div>
                          <div class="col-md-11 col-sm-11 col-xs-11">
                              <strong class="na">Nitin</strong>
                              <span class="pull-right"></span>
                              <p class="cell">
                                  <%=comm.content%>
                              </p>
                                      <a class="btn btn-xs btn-warning" href="#">Edit</a>
                                      <form>
                                          <button class="btn btn-danger btn-xs">Delete</button>
                                      </form>         
                          </div>
                     </div>
                     <%})%>
                 </div>
 			</div>
 		</div>
 		<div class="col-md-5 col-sm-12 col-xs-12 ht900">
       <div class="ht33">
           <h1>Book your passes</h1>
            <form>
							  <div class="form-group">
							  	<div class="form-group">
							    <label for="name">Select Date</label>
							    <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="pick a date">
							    </div>
							  </div>
							 <a href="/multi/<%=pre.pub.id%>/allEvents" class="btn-primary">Book Now</button>
							  <!-- <button  class="btn btn-primary reg" id="rzp-button1">Book Now</button> -->
                <br><br>
                <% if(currentUser&& ((pre.pub.userId) === (currentUser.id))){ %>
                   <a href="/multi/<%=pre.pub.id%>/createEvents" class="btn-primary">create event</button>
                <% } %>
							  <br><br>
            </form>
       </div> 
    </div>
 	</div>
 </section>
 <br><br>

 <% if(currentUser&& ((pre.pub.userId) === (currentUser.id))){ %>
       <a href ="/multi/<%=pre.pub.id%>/edit" class="btn btn-warning btn-xs">Edit</a>
 <% } %>

 
  <section class="ht450 foot">
  	 <div class="row ht150">
  	 	<div class="col-md-3 col-sm-12 col-xs-12 ht20 footlf">Clubbo</div>
  	 	<div class="col-md-6 col-sm-12 col-xs-12 ht160 footer">
  	 		<div class="row ht160">
  	 			<div class="col-md-6 col-sm-6 col-xs-6 ht160">
  	 				<ul class="high">
  	 					<li class="lih"><strong>My Account</strong></li>
  	 					<li>Dashboard</li>
  	 					<li>My bookings</li>
  	 				</ul>
  	 			</div>
  	 			<div class="col-md-6 col-sm-6 col-xs-6 ht160">
  	 				<ul class="high">
  	 					<li class="lih"><strong>Help</strong></li>
  	 					<li>Privacy Policy</li>
  	 					<li>FAQs</li>
  	 				</ul>
  	 			</div>
  	 		</div>
  	 	</div>
  	 	<div class="col-md-3 col-sm-12 col-xs-12 ht0"></div>
  	 </div>
  </section>
  <script>
  function initMap() {
    var lat = <%= pre.pub.lat %>;
    var lng = <%= pre.pub.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 14,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= pre.pub.name %><br />
      <%= pre.pub.address %></strong>
      <p><%= pre.pub.about %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-zWKyBq78dZgZkKsLzWNoxNdoKDuBfzU&callback=initMap"></script>

  <!--jQuery-->
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script type="text/javascript" src="../assets/lib/jquery.min.js"></script>
  <!--bootstrap js -->      
  <script type="text/javascript" src="../assets/lib/bootstrap.min.js"></script>
  <script type="text/javascript" src="../assets/js/singlePubView.js"></script> 

</body>
</html>